@model BlogOdev.Models.ListViewModel

<div id="content">

  <h1>@ViewBag.Title</h1>

  @Html.Partial("_Pager", Model)

  @if (Model.Posts.Count > 0)
  {
    foreach (var post in Model.Posts)
    {
    @Html.Partial("_PostTemplate", post)
    }
  }
  else
  {
    <p>Hiç mesaj bulunamadı!</p>
  }

  @Html.Partial("_Pager", Model)
</div>
<script type="text/javascript">
  var disqus_shortname = '@System.Configuration.ConfigurationManager.AppSettings["Domain"]';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
